<div class="fur">
  <div class="label">
    Общие параметры
  </div>
  <div style="padding: 8px;">
    <div style="display: flex; margin-top: 16px; align-items: center;">
      Срок изготовления
      <input-field  style="margin-left: 8px;" >
        <input sh-input />
      </input-field>
    </div>

    <div style="display: flex; margin-top: 16px; align-items: center;">
      Цена товара
      <input-field  style="margin-left: 8px;" >
        <input sh-input />
      </input-field>
    </div>
  </div>
</div>