<app-header>
  Services vc NgXs vs Mobx vs Akita
</app-header>
<div class="navbar">
  <div style="display: flex; flex-direction: column;">
    <!--
    <button class="nav-item" simpleButton (click)='openApi()' >Встроенные возможности</button>
    <button  class="nav-item"  simpleButton (click)='openCustom()'>Реализуем свои</button>
    <button class="nav-item"  simpleButton (click)='openCustom()'> Сервисы </button>
    <button class="nav-item"   simpleButton (click)='openTwo()'>  Урок 2 </button>
-->
    <button  class="nav-item"  simpleButton (click)='openState()'>  States </button>
  </div>
</div>
<div class="app">
  <div>
    
  </div>
  <div>
    
    <router-outlet></router-outlet>
  </div>
</div>