<div class="app">
  <div>
    <h1>
      course, проведено уроков {{ dataAppService.totalLessons$ | async }}
    </h1>
  </div>
  <div>
    <div style="display: flex;">
      <button simpleButton (click)='openApi()' >Встроенные возможности</button>
      <button style="margin-left: 16px;" simpleButton (click)='openCustom()'>Реализуем свои</button>
      <button style="margin-left: 16px;" simpleButton (click)='openCustom()'> Сервисы </button>
      <button style="margin-left: 16px;" simpleButton (click)='openTwo()'>  Урок 2 </button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>