<div>
  <input style="margin-top: 16px" [ngModel]='lessons' (ngModelChange)='lessonChanged($event)' />
  <h2>Пайпы</h2>
  <div>
    <h3>Подсветка текста</h3>
    <div>
      <input [ngModel]='search' (ngModelChange)='searchChanged($event)' />
      <div [innerHtml]="text | highlight: searchText">Докуметы контрагента</div>
    </div>
  </div>
  <div>
    <h3>Валюта</h3>
    <div>
      <div *ngFor='let c of currencies' >
        {{ c.value |  appCurrency: c.code}} 
      </div>
    </div>
  </div>

  <h2>Директивы</h2>
  <div>
    <h3>Drag And Drop</h3>
    <div>
     <div class="drag-container">
       <div  class="drag1">
          drag1
          <div  draggable="true" drag [data]='dragData1' style="cursor: pointer; width: 80px; height: 30px; padding: 16px; background-color: brown;" >
            <div></div>
          </div>
       </div>
       <div drag class="drag2" (onDataDrag)="onDrag($event)">
        drag2
        <div *ngIf='dragData2' style="cursor: pointer; width: 80px; height: 30px; padding: 16px; background-color: blueviolet;" >
          <div></div>
        </div>
       </div>
     </div>
    </div>
  </div>
  <div>
    <h3>Resize</h3>
    <div>
      https://ashatilovdev.medium.com/57-%D0%B4%D0%B5%D0%BB%D0%B0%D0%B5%D0%BC-%D0%BF%D1%80%D0%B8%D0%BB%D0%BE%D0%B6%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%B2%D0%BD%D1%8B%D0%BC-%D0%BF%D1%80%D0%B8-%D0%BF%D0%BE%D0%BC%D0%BE%D1%89%D0%B8-angular-%D0%B8-rxjs-12f0cc552524
    </div>
  </div>
  <div>
    <h3>WebSpeechAPI</h3>
    <div>
      https://ashatilovdev.medium.com/angular-taigaui-webspeechapi-3dcd1ea67a79
    </div>
  </div>
</div>